.ulpaging{ 
    padding: 0;
    margin: 2vh;
}

.pagingbutton{
    width: 25px;
    height: 25px;
    margin: 2px;
    background-color: #1de9b6;
    border: none;
    border-radius: 10%;
    opacity: 1;
}

.pagingbutton:hover{
    background-color: #F2E0D0;
    border: none;
    box-shadow: 3px 3px 3px 3px #59371C;
    width: 30px;
    height: 30px;
    opacity: 0.9;
}