.ulpaging{ 
    padding: 0;
    margin: 2vh;
}

.pagingbutton{
    background-color: #A6635D;
    border: none;
    border-radius: 10%;
    opacity: 1;
}

.pagingbutton:hover{
    background-color: #F2E0D0;
    padding: 5px;
    opacity: 0.8;
}