
.containerhome{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbar{
    padding: 0;
    margin: 0;
    background-color: #A6635D;
    width: 100vw;
    height: 50px;
    display:flex;
    justify-content: end;
    margin-bottom: 5vh;
    opacity: 0.8;
}

/*.imgsearchbar{
    
}*/

.allfilters{
    width: 90vw;
    display: flex;
    justify-content: space-around;
}

.filters{
    padding: 5px;
    border-radius: 5%;
    font-size: medium;
    background-color: #F2E0D0;
    color: black;
    box-shadow: 3px 3px 3px #A6635D;
    opacity: 0.9;
}

.searchby{
    margin: 0;
    font-size: xx-large;
    color: #1de9b6;
}

.divcreateact{
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: x-large;   
}

.createact{
    text-decoration: none;
    color: #1de9b6;
}

.createact:hover{
    text-decoration: underline;
}

.cards{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.p{
    margin:0;
}

.noact{
    margin: 0;
    color: #F2E0D0;
}

.clearfilters{
    font-size: medium;
    padding: 5px;
    background-color: black;
    color: #1de9b6;
    border: 1px solid #1de9b6;
    border-radius: 10%;
}

.clearfilters:hover{
    padding: 10px;
    background-color: #1de9b6;
    color:black;
    box-shadow: 3px 3px 3px #108164;
}

.paginghome{
    /*background-color: #A6635D;*/
    width: 100vw;
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
    opacity: 0.8;
    position:sticky;
}

.h2searchbar{
    margin: 0;
    padding: 0;
}

