
/*.container{
    
}*/

.searchbar{
    width: 100%;
    display:flex;
    justify-content: end;
    margin-bottom: 20px;
}


.allfilters{
    width: 70vw;
    margin: 20px 10vw;
    display: flex;
    justify-content: space-around;
    
}

.filters{
    font-size: large;
    background-color: #F2E0D0;
    box-shadow: 3px 3px 3px #59371C;

}

.searchby{
    margin: 0;
    font-size: xx-large;
    color: #618267;
}

.createact{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: xx-large;
    color: #618267;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.p{
    margin:0;
}

