.card{
    border-radius: 10px; 
    border: 1px solid black;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 1vw 1vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    /*width: 20vw;*/
    width: 15vw;
    height: 18vw;
}

.img{
    height: 8vw;
    width: 15vw;
}

.link{
    text-decoration: none;
}

.h2{
    margin: 0.5vw;
    font-size: 1.7vw;
    color: black;
}

.h4{
    margin: 0.5vw;
    font-size: 1vw;
    color: black;
}
