.containercreateact{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    font-size: large;
    align-items: center;
}

.formcontainer{
    width: 450px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: #F2E0D0;
}

.titlecreateact{
    font-size: xx-large;
    color: #1de9b6;
}

.p{
    margin: 0;
    font-size: small;
    color: red;
}

.fields{
   text-align: center;
   margin: 25px;
}

.backform{
    margin-top: 0;
    margin-bottom: 3vh;
    width: 100vw;
    display: flex;
    justify-content:center;
    background-color: #A6635D;
    font-size: large;
    opacity: 0.8;
}

.backlinkform{
    margin: 1vh;
    padding: 5px;
    color: black;
    text-decoration: none;
}

.backlinkform:hover{
    background-color: #F2E0D0;
    border-radius: 10%;
}


.country{
    width: 25%;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 4px;
}

.countries{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.deletecountry{
    border: none;
    border-radius: 5%;
    background-color: #A6635D;
    opacity: 0.9;
}

.deletecountry:hover{
    color: #A6635D;
    background-color: black;
    border: 1px solid #A6635D;
    opacity: 0.7;
}

.pais{
    margin: 2px;
    font-size: medium;
}

.inputs{
    background-color: #F2E0D0;
}

.create{
    padding: 5px;
    font-size: medium;
    color: black;
    background-color: #A6635D;
    border: none;
    border-radius: 10%;
    opacity: 0.9;
}

.create:hover{
    padding: 10px;
    color: #A6635D;
    background-color: black;
    border: 1px solid #A6635D;
    opacity: 0.7;

}

